<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604859139505-l30o55lg326dtlic5ti6jm9jkqef8d5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604859139505-l30o55lg326dtlic5ti6jm9jkqef8d5k</string>
	<key>API_KEY</key>
	<string>AIzaSyA73PWM_401ZwxocYOq7R3DeHB53A0cSdg</string>
	<key>GCM_SENDER_ID</key>
	<string>604859139505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.jangilkyu.QuotesGenerator</string>
	<key>PROJECT_ID</key>
	<string>quotes-ed0cc</string>
	<key>STORAGE_BUCKET</key>
	<string>quotes-ed0cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604859139505:ios:83aebad46485362b246990</string>
</dict>
</plist>